.header {
    padding-left: 40px;
    grid-area: header;
    -webkit-box-shadow: 0px 0px 7px -2px #000000;
    box-shadow: 0px 0px 7px -2px #000000;
    background-color: #2980b9;
    color: white;
    border-radius: 5px;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo {
    font-size: 11px;
  }
  
  .header img {
    width: 45px;
  }