.nav {
    grid-area: nav;
    margin-top: 22px;
    font-family: 'Ubuntu', sans-serif;
}

.nav ul h4{
    margin-bottom: 10px;
}

.item a {
    color: #595959;
    transition: opacity 300ms ease-in;
    align-items: center;
    display: flex;
    padding: 5px 83px 5px 0;
    font-size: 16px;
}

.item a i {
    padding-left: 8px;
    padding-right: 8px;
    color: #448aff;
    width: 24px;
}

.item:not(:last-child) {
    padding-bottom: 8px;
}