body {
  background-color: #FBFBFD;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 20px;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  opacity: .75;
}

.nav, .app-wrapper-content {
  -webkit-box-shadow: 0px 0px 7px -2px #000000;
  box-shadow: 0px 0px 7px -2px #000000;
  background-color: white;
  border-radius: 5px;
}

.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
  grid-template-areas: "header header"
                        "nav content";
}

.app-wrapper-content {
  grid-area: content;
  padding: 15px;
}